
.infoBox_number {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 180%;
    text-align: center;

    color: #2D9CDB;
}

.infoBox_text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 100%;
    text-align: center;
    color: #ED2147;

}

.active_sign {
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    border-top: 30px solid #ED2147;
}